.Services{
    min-height: 100vh;
    height: fit-content;
    background-color:#101956;
    color:#FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
    gap: 2rem;
}
.servicesTitle{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 85%;
}
.Services h3{
    color: var(--blueRibon200);
}
.Services span{
    font-size: 0.9rem;
    font-weight: 700;
}
.servicesList{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 2rem;
}
.serviceItem{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 2rem;
    justify-content: center;
    align-items: center;
}

.serviceItem h4{
    color:var(--blueRibon200);
    align-self: self-start;
}
.serviceItem p{
    align-self: self-start;
}
.serviceInclude{
    display: flex;
    flex-direction: column;
    width: 70%;
    background-color: var(--blueRibon200);
    color:var(--blueRibon950);
    border-radius: 25px;
    padding: 2rem 2rem;
}
.serviceInclude h4{
    font-size: 2rem;
    text-align: center;
}
.serviceInclude ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.serviceInclude li{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.serviceInclude li span{
    text-decoration: underline;
    font-weight: 800;
    font-size: 1rem;
}
.serviceInclude ul img{
    filter: invert(8%) sepia(68%) saturate(3222%) hue-rotate(229deg) brightness(92%) contrast(102%);
}
@media screen and (min-width:720px){
    .Services{
        padding: 4rem 0;
    }
    .servicesTitle h3{
        font-size: 1.8rem;
    }
    .servicesTitle span{
        font-size: 1.1rem;
    }
    .serviceItem img{
        width: 450px;
        height:330px;
    }
    .serviceItem h4{
        font-size: 1.3rem;
    }
    .serviceItem p{
        font-size: 1.1rem;
    }
    .serviceInclude{
        width: 65%;
        padding-bottom: 3rem;
    }
    .serviceInclude ul{
        gap: 2.5rem;
    }
    .serviceInclude h4{
        font-size: 2.2rem;
    }
    .serviceInclude li {
        font-size: 1.4rem;
    }
    .serviceInclude li img{
        height: 30px;
        width: 30px;
    }
    .serviceInclude li span{
        font-size: 1.4rem;
    }
}
@media screen and (min-width:1080px){
    .servicesList{
        flex-direction: row;
        align-items: start;
        width: 90%;
        gap: 1rem;
    }
    .serviceItem{
        border: none;
    }
    .serviceItem picture{
        align-items: self-start;
        width: 100%;
    }
    .serviceItem img{
        width:90%;
        object-fit: cover;
    }
    .servicesTitle h3{
        font-size: 1.5rem;
        font-weight: 600;
    }
    .serviceInclude{
        width: 75%;
    }
    .serviceInclude ul{
        gap: 1.5rem;
    }
}
@media screen and (min-width:1200px){
    .Services{
        padding:8rem 0;
        gap: 4rem;
    }
    .servicesList{
        width: 80%;
        gap: 1rem;
    }
    .servicesTitle span{
        font-size: 1.3rem;
    }
    .serviceItem picture{
        align-self: self-start;
    }
    .serviceItem img{
        width:90%;
        height:60vh;
    }
    .serviceItem h4{
        font-size: 1.7rem;
    }
    .serviceItem p{
        font-size: 1.2rem;
    }
    .serviceInclude{
        width: 70%;
    }
    .serviceInclude ul{
        gap: 2rem;
    }
    .serviceInclude li p{
        font-size: 1.6rem;
    }
    .serviceInclude li span{
        font-size: 1.6rem;
    }
}