.AboutUs{
    background-color: var(--blueRibon200);
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 2rem;
    color:var(--blueRibon950);
}
h3, p{
    width: 80%;
}
.AboutUs h3{
    font-size: 1.4rem;
    font-weight:800;
}

.AboutUs p{
    font-size: 0.9rem;
    font-weight:700;
}
.AboutUs button{
    align-self: flex-start;
    padding: 0.8rem;
    margin-left:10%;
    width:40%;
    border: none;
    color: var(--blueRibon200);
    background-color:var(--blueRibon700) ;
    font-weight:700;
}
.AboutUs button:hover{
    background-color: var(--blueRibon800);
}
.AboutUs button:active{
    background-color: var(--blueRibon900);
}
/* 720px width */
@media screen and (min-width:720px){
    .AboutUs h3{
        font-size: 1.7rem;
    }
    .AboutUs p{
        font-size: 1.1rem;
    }
    .AboutUs button{
        width: 20%;
    }
}