.HeroSec{
    width: 100vw;
    min-height: 110vh;
    height: fit-content;
    background-color: #101720;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 2rem;
    overflow: hidden;
    padding-top: 6rem;
    z-index: 100;
}
.heroText{
    display: flex;
    flex-direction: column;
    max-width: 80%;
    gap: 1rem;
}
.heroText h3{
    font-weight: 400;
    color:#8EB5FF;
}
.heroText h1{
    font-size: 2rem;
    font-weight: 800;
    color: #FFFFFF;
}
.heroText span{
    text-decoration: underline;
}
.heroSocials {
    margin-top: 2rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap:2rem;
}
.heroSocials img{
    height: 25px;
    width: 25px;
    filter: invert(98%) sepia(2%) saturate(43%) hue-rotate(53deg) brightness(120%) contrast(100%);
}
.heroCourusel1{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.heroCourusel1 img{
    width: 250px;
    border-radius: 25px;
}
.heroCourusel2{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.heroCourusel2 img{
    width: 250px;
    transform: translateX(50%);
    border-radius: 25px;
}
.heroExtraText{
    font-weight: 600;
    width: 90%;
    margin-top: 2rem;
    color:#FFFFFF;
}
.heroExtraText p{
    color:var(--blueRibon200);
    font-weight: 400;
}
.heroPoints{
    padding:3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid #FFFFFF;
    gap: 2rem;
    color: #FFFFFF;
}
.heroPoint{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 90%;
}
.herologos{
    height:40px;
    width: 40px;
    display: flex;
    padding: auto;
    background-color:var(--blueRibon900);
    border-radius: 8px;
    justify-content: center;
}
.heroPoint img{
    width: 35px;
    height:35px;
    filter: invert(87%) sepia(28%) saturate(5165%) hue-rotate(189deg) brightness(110%) contrast(107%);
}
.heroPoint h4{
    font-weight: 600;
}
.heroPoint span{
    font-size: 0.75rem;
    color: var(--blueRibon200);
}

/* 720px screen */
@media screen and (min-width: 720px){
    .heroText h3{
        font-size: 1.5rem;
    }
    .heroText h1{
        font-size: 3rem;
    }
    .heroSocials img{
        width:30px;
        height:30px;
    }
    .heroCourusel1 img{
        width: 400px;
    }
    .heroCourusel2 img{
        width: 400px;
    }
    .heroExtraText{
        font-size: 1.3rem;
    }
    .heroPoint h4{
        font-size: 1.2rem;
    }
    .heroPoint span{
        font-size: 1rem;
    }
}
@media screen and (min-width:1080px) {
    .HeroSec{
        gap: 2rem;
        padding-top: 10rem;
    }
    .heroText{
        width: 80%;
    }
    .heroText h3{
        font-size: 2rem;
    }
    .heroText h1{
        width: 60%;
        font-size:4rem ;
    }
    .heroSocials img{
        width:40px;
        height:40px;
    }
    .heroCourusel1 img{
        width: 500px;
    }
    .heroCourusel2 img{
        width: 500px;
    }
    .heroExtraText{
        font-size: 1.6rem;
    }
    .heroPoints{
        align-items: start;
        flex-direction: row;
        padding-left: 8rem;
        gap: 1rem;
    }
    .heroPoint{
        width: 25%;
    }
    .herologos{
        height: 100%;
        width: 45px;
    }
}