.HeroSec{
    width: 100vw;
    min-height: 130vh;
    height: fit-content;
    background-color: #101720;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 2rem;
    overflow: hidden;
    padding-top: 6rem;
}
.heroText{
    max-width: 80%;
}
.heroText h3{
    font-weight: 400;
    color:#8EB5FF;
}
.heroText h1{
    font-size: 2rem;
    font-weight: 800;
    color: #FFFFFF;
}
.heroText span{
    text-decoration: underline;
}
.heroSocials {
    margin-top: 2rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap:2rem;
}
.heroSocials img{
    height: 25px;
    width: 25px;
}
.heroCourusel1{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.heroCourusel1 img{
    width: 250px;
    border-radius: 25px;
}
.heroCourusel2{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.heroCourusel2 img{
    width: 250px;
    transform: translateX(50%);
    border-radius: 25px;
}
.heroExtraText{
    font-weight: 600;
    width: 90%;
    margin-top: 2rem;
    color:#FFFFFF;
}
.heroExtraText p{
    color:var(--blueRibon200);
    font-weight: 400;
}
.heroPoints{
    padding:3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid #FFFFFF;
    gap: 2rem;
    color: #FFFFFF;
}
.heroPoint{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 90%;
}
.herologos{
    height:40px;
    width: 40px;
    display: flex;
    padding: auto;
    background-color:var(--blueRibon900);
    border-radius: 8px;
    justify-content: center;
}
.heroPoint img{
    width: 35px;
    height:35px;
    filter: invert(87%) sepia(28%) saturate(5165%) hue-rotate(189deg) brightness(110%) contrast(107%);
}
.heroPoint h4{
    font-weight: 600;
}
.heroPoint span{
    font-size: 0.75rem;
    color: var(--blueRibon200);
}
